@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: normal;
    src: url("PTSansCaption-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: bold;
    src: url("PTSansCaption-Bold.ttf") format('truetype');
}
